<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>虚拟主机管理系统</title>
<link rel="icon" href="favicon.ico" type="image/ico">
<meta name="keywords" content="虚拟主机管理系统">
<meta name="description" content="虚拟主机管理系统">
<meta name="author" content="yinqi">

<link href="http://lyear.itshubao.com/iframe/css/bootstrap.min.css" rel="stylesheet">
<link href="http://example.itshubao.com/demo/css/materialdesignicons.min.css" rel="stylesheet">
<link href="http://lyear.itshubao.com/iframe/css/style.min.css" rel="stylesheet">
</head>
  
<body>
<div class="container-fluid p-t-15">
  
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h4>亲爱的<span class="text-danger">管理员</span> 欢迎您的到来</h4></div>
        <div class="card-body">
          
          <p>免费开通虚拟主机，无偿服务站长，O(∩_∩)O。<span class="text-danger">目前后端语言为强大的Python。</span></p>
          
        </div>
      </div>
    </div>
    
  </div>
<!--横条形的统计-->
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body clearfix">
          <div class="pull-right">
            <p class="h6 m-t-0">用户总数</p>
            <p class="h3 m-b-0"></p>
          </div>
          <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-primary"><i class="mdi mdi-account fa-1-5x"></i></span> </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body clearfix">
          <div class="pull-right">
            <p class="h6 m-t-0">主机总数</p>
            <p class="h3 m-b-0"></p>
          </div>
          <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-danger"><i class="mdi mdi-arrow-down-bold fa-1-5x"></i></span> </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body clearfix">
          <div class="pull-right">
            <p class="h6 m-t-0">数据库总数</p>
            <p class="h3 m-b-0"></p>
          </div>
          <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-success"><i class="mdi mdi-currency-cny fa-1-5x"></i></span> </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body clearfix">
          <div class="pull-right">
            <p class="h6 m-t-0">域名解析</p>
            <p class="h3 m-b-0"></p>
          </div>
          <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-purple"><i class="mdi mdi-comment-outline fa-1-5x"></i></span> </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
      
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <p>主机操作</p>
          <p>琳宫十二夜生光，车马阗骈选佛场。</p>
          <p>水月竞邀罗绮色，栴檀都作麝兰香。</p>
          <p>林间度曲乌栖急，石上传杯兔影凉。</p>
          <p>金虎高坟胜游地，玉鱼银海正茫茫。</p>
          <p class="card-subtitle text-right"> - 邹迪光</p>
        </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <p>域名操作</p>
            <p>琳宫十二夜生光，车马阗骈选佛场。</p>
            <p>水月竞邀罗绮色，栴檀都作麝兰香。</p>
            <p>林间度曲乌栖急，石上传杯兔影凉。</p>
            <p>金虎高坟胜游地，玉鱼银海正茫茫。</p>
            <p class="card-subtitle text-right"> - 邹迪光</p>
          </div>
        </div>
      </div>
      <div class="row">
      
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <div class="card-body">
              <p>数据库操作</p>
              <p>琳宫十二夜生光，车马阗骈选佛场。</p>
              <p>水月竞邀罗绮色，栴檀都作麝兰香。</p>
              <p>林间度曲乌栖急，石上传杯兔影凉。</p>
              <p>金虎高坟胜游地，玉鱼银海正茫茫。</p>
              <p class="card-subtitle text-right"> - 邹迪光</p>
            </div>
          </div>
        </div>
     
  </div>
  
  
        </div>
      </div>
    </div>
  </div>
  
</div>

</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="js/Chart.min.js"></script>

</body>
</html>
